nav{
    padding: 10px 20px;
    backdrop-filter: blur(8px);
    z-index: 9999;
    background-color: #0a0a0a;
}

a{
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
    border-bottom: 2px solid transparent;
}
a:hover{
    color: var(--limeGlow);
    border-bottom: 2px solid var(--limeGlow);
    padding-bottom: 2px;
}

nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    font-family: Quicksand;
}

#logo{
    font-family: Megrim;
    padding-bottom: 2px;
}
